In [4]:
import pandas as pd

In [5]:
# create a dataframe of three series 

s1 = pd.Series([1,2,3,4,5,6])
s2 = pd.Series([1.2,4.4,5.6,6.6,7.7,9.0])
s3 = pd.Series(["A","V","N","M","L"])


Data = {"First":s1,"Second":s2,"Third":s3}

dfSeries = pd.DataFrame(Data)

dfSeries

   First  Second Third
0      1     1.2     A
1      2     4.4     V
2      3     5.6     N
3      4     6.6     M
4      5     7.7     L
5      6     9.0   NaN

In [6]:
# convert a Array into DataFrame 

d1 = [[2,3,4,5],[6,7,8,9]]

d2 = [[20,30,40,50],[60,70,80,90]]

Data = {"First":d1,"Second":d2}

df = pd.DataFrame(Data)

df

          First            Second
0  [2, 3, 4, 5]  [20, 30, 40, 50]
1  [6, 7, 8, 9]  [60, 70, 80, 90]

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/softhints/Pandas-Exercises-Projects/main/data/food_recipes.csv', low_memory=False)

df

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
0,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,434,4.958525,is a quicker version pizza to satisfy your cr...,Mexican,Dinner,Vegetarian,15 M,15 M,Tortillas|Extra Virgin Olive Oil|Garlic|Mozzar...,To begin making the Roasted Peppers And Mushro...,Divya Shivaraman,Party Food Recipes|Tea Party Recipes|Mushroom ...,Pizza Recipes
1,Thakkali Gotsu Recipe | Thakkali Curry | Spicy...,https://www.archanaskitchen.com/tomato-gotsu-r...,good,3423,4.932223,also known as the is a quick and easy to ma...,South Indian Recipes,Lunch,Vegetarian,10 M,20 M,Sesame (Gingelly) Oil|Mustard seeds (Rai/ Kadu...,To begin making Tomato Gotsu Recipe/ Thakkali ...,Archana Doshi,Vegetarian Recipes|Tomato Recipes|South Indian...,Indian Curry Recipes
2,Spicy Grilled Pineapple Salsa Recipe,https://www.archanaskitchen.com/spicy-grilled-...,good,2091,4.945959,Spicy Grilled Pineapple Salsa is a simple reci...,Mexican,Side Dish,Vegetarian,10 M,0 M,Extra Virgin Olive Oil|Pineapple|White onion|R...,To begin making the Spicy Grilled Pineapple Sa...,Archana's Kitchen,Party Starter & Appetizer Recipes|Pineapple Re...,Mexican Recipes
3,Karwar Style Dali Thoy Recipe - Toor dal Curry,https://www.archanaskitchen.com/dali-thoy-reci...,good,990,4.888889,The is a quintessential of Konkani dish whic...,Coastal Karnataka,Side Dish,High Protein Vegetarian,5 M,20 M,Arhar dal (Split Toor Dal)|Turmeric powder (Ha...,To prepare Karwar Style Dali Thoy Recipe (Toor...,Jyothi Rajesh,Side Dish Recipes|South Indian Recipes|Indian ...,Indian Curry Recipes
4,Rajma Kofta In Milk And Poppy Seed Gravy Recipe,https://www.archanaskitchen.com/rajma-kofta-in...,good,345,4.828986,Koftas are traditional Indian recipes mostly w...,North Indian Recipes,Side Dish,High Protein Vegetarian,20 M,30 M,Rajma (Large Kidney Beans)|Cashew nuts|Sultana...,To begin making Rajma Kofta In Milk And Poppy ...,RUBY PATHAK,Side Dish Recipes|Indian Lunch Recipes|Office ...,Kofta Recipes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8004,Zucchini and Carrot Pasta Recipe,https://www.archanaskitchen.com/zucchini-and-c...,good,738,4.934959,is a healthy recipe which can be served over ...,Italian Recipes,Dinner,Vegetarian,10 M,30 M,Spirali pasta|Onions|Tomatoes|Green zucchini|C...,To begin with Zucchini And Carrot Pasta Recipe...,Aarti Sharma,Vegetarian Recipes|Carrot Recipes|Zucchini Rec...,Pasta Recipes
8005,Hyderabadi Khatti Dal Recipe (Hyderabadi Tangy...,https://www.archanaskitchen.com/hyderabadi-kha...,good,5173,4.903151,Hyderabadi Khatti Dal is a delicious tangy dal...,Hyderabadi,Lunch,High Protein Vegetarian,20 M,40 M,Arhar dal (Split Toor Dal)|Tomato|Turmeric pow...,To begin making the Hyderabadi Khatti Dal Reci...,Farrukh Aziz Ansari,Gluten Free Recipes|Indian Diabetic Recipes,Indian Curry Recipes
8006,Karwar Style Muga Ambat Recipe (Moong Sprouts ...,https://www.archanaskitchen.com/karwar-style-m...,good,1202,4.946755,is a curry recipe made from 'Muga' - which re...,Karnataka,Side Dish,High Protein Vegetarian,10 M,15 M,Turmeric powder (Haldi)|Sugar|Salt|Fresh cocon...,To prepare Karwar Style Muga Ambat Recipe (Moo...,Archana's Kitchen,High Protein Vegetarian Diet Recipes|South Ind...,Indian Curry Recipes
8007,"Beetroot, Amla And Pudina Juice Recipe | Mint ...",https://www.archanaskitchen.com/beetroot-amla-...,good,1305,4.925670,is a healthy juice recipe which acts as a gre...,Indian,Snack,Vegetarian,10 M,0 M,Beetroot|Amla (Nellikai/ Gooseberry)|Mint Leav...,"To begin making the Beetroot, Amla And Pudina...",Archana's Kitchen,Healthy Recipes|Beetroot Recipes|Pudina Mint R...,Indian Drink Recipes
8008,Chettinad Cauliflower Pepper Fry Recipe - Chet...,https://www.archanaskitchen.com/chettinad-caul...,good,2167,4.815413,Chettinad Poo Kosu Poriyal also known as is ...,Tamil Nadu,Lunch,Vegetarian,15 M,20 M,Cauliflower (gobi)|Pearl onions (Sambar Onions...,To begin making the Chettinad Cauliflower Pepp...,Archana Doshi,Cauliflower Recipes (Phool Gobi),Poriyal Recipes (South Indian Sabzi)

In [8]:
df.head()

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
0,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,434,4.958525,is a quicker version pizza to satisfy your cr...,Mexican,Dinner,Vegetarian,15 M,15 M,Tortillas|Extra Virgin Olive Oil|Garlic|Mozzar...,To begin making the Roasted Peppers And Mushro...,Divya Shivaraman,Party Food Recipes|Tea Party Recipes|Mushroom ...,Pizza Recipes
1,Thakkali Gotsu Recipe | Thakkali Curry | Spicy...,https://www.archanaskitchen.com/tomato-gotsu-r...,good,3423,4.932223,also known as the is a quick and easy to ma...,South Indian Recipes,Lunch,Vegetarian,10 M,20 M,Sesame (Gingelly) Oil|Mustard seeds (Rai/ Kadu...,To begin making Tomato Gotsu Recipe/ Thakkali ...,Archana Doshi,Vegetarian Recipes|Tomato Recipes|South Indian...,Indian Curry Recipes
2,Spicy Grilled Pineapple Salsa Recipe,https://www.archanaskitchen.com/spicy-grilled-...,good,2091,4.945959,Spicy Grilled Pineapple Salsa is a simple reci...,Mexican,Side Dish,Vegetarian,10 M,0 M,Extra Virgin Olive Oil|Pineapple|White onion|R...,To begin making the Spicy Grilled Pineapple Sa...,Archana's Kitchen,Party Starter & Appetizer Recipes|Pineapple Re...,Mexican Recipes
3,Karwar Style Dali Thoy Recipe - Toor dal Curry,https://www.archanaskitchen.com/dali-thoy-reci...,good,990,4.888889,The is a quintessential of Konkani dish whic...,Coastal Karnataka,Side Dish,High Protein Vegetarian,5 M,20 M,Arhar dal (Split Toor Dal)|Turmeric powder (Ha...,To prepare Karwar Style Dali Thoy Recipe (Toor...,Jyothi Rajesh,Side Dish Recipes|South Indian Recipes|Indian ...,Indian Curry Recipes
4,Rajma Kofta In Milk And Poppy Seed Gravy Recipe,https://www.archanaskitchen.com/rajma-kofta-in...,good,345,4.828986,Koftas are traditional Indian recipes mostly w...,North Indian Recipes,Side Dish,High Protein Vegetarian,20 M,30 M,Rajma (Large Kidney Beans)|Cashew nuts|Sultana...,To begin making Rajma Kofta In Milk And Poppy ...,RUBY PATHAK,Side Dish Recipes|Indian Lunch Recipes|Office ...,Kofta Recipes

In [9]:
df.tail()

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
8004,Zucchini and Carrot Pasta Recipe,https://www.archanaskitchen.com/zucchini-and-c...,good,738,4.934959,is a healthy recipe which can be served over ...,Italian Recipes,Dinner,Vegetarian,10 M,30 M,Spirali pasta|Onions|Tomatoes|Green zucchini|C...,To begin with Zucchini And Carrot Pasta Recipe...,Aarti Sharma,Vegetarian Recipes|Carrot Recipes|Zucchini Rec...,Pasta Recipes
8005,Hyderabadi Khatti Dal Recipe (Hyderabadi Tangy...,https://www.archanaskitchen.com/hyderabadi-kha...,good,5173,4.903151,Hyderabadi Khatti Dal is a delicious tangy dal...,Hyderabadi,Lunch,High Protein Vegetarian,20 M,40 M,Arhar dal (Split Toor Dal)|Tomato|Turmeric pow...,To begin making the Hyderabadi Khatti Dal Reci...,Farrukh Aziz Ansari,Gluten Free Recipes|Indian Diabetic Recipes,Indian Curry Recipes
8006,Karwar Style Muga Ambat Recipe (Moong Sprouts ...,https://www.archanaskitchen.com/karwar-style-m...,good,1202,4.946755,is a curry recipe made from 'Muga' - which re...,Karnataka,Side Dish,High Protein Vegetarian,10 M,15 M,Turmeric powder (Haldi)|Sugar|Salt|Fresh cocon...,To prepare Karwar Style Muga Ambat Recipe (Moo...,Archana's Kitchen,High Protein Vegetarian Diet Recipes|South Ind...,Indian Curry Recipes
8007,"Beetroot, Amla And Pudina Juice Recipe | Mint ...",https://www.archanaskitchen.com/beetroot-amla-...,good,1305,4.925670,is a healthy juice recipe which acts as a gre...,Indian,Snack,Vegetarian,10 M,0 M,Beetroot|Amla (Nellikai/ Gooseberry)|Mint Leav...,"To begin making the Beetroot, Amla And Pudina...",Archana's Kitchen,Healthy Recipes|Beetroot Recipes|Pudina Mint R...,Indian Drink Recipes
8008,Chettinad Cauliflower Pepper Fry Recipe - Chet...,https://www.archanaskitchen.com/chettinad-caul...,good,2167,4.815413,Chettinad Poo Kosu Poriyal also known as is ...,Tamil Nadu,Lunch,Vegetarian,15 M,20 M,Cauliflower (gobi)|Pearl onions (Sambar Onions...,To begin making the Chettinad Cauliflower Pepp...,Archana Doshi,Cauliflower Recipes (Phool Gobi),Poriyal Recipes (South Indian Sabzi)

In [10]:
df.columns.unique()

Index(['recipe_title', 'url', 'record_health', 'vote_count', 'rating',
       'description', 'cuisine', 'course', 'diet', 'prep_time', 'cook_time',
       'ingredients', 'instructions', 'author', 'tags', 'category'],
      dtype='object')

In [11]:
df.shape

(8009, 16)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   recipe_title   8009 non-null   object
 1   url            8009 non-null   object
 2   record_health  8009 non-null   object
 3   vote_count     8009 non-null   int64
 4   rating         8009 non-null   float64
 5   description    7994 non-null   object
 6   cuisine        7943 non-null   object
 7   course         7854 non-null   object
 8   diet           7858 non-null   object
 9   prep_time      7979 non-null   object
 10  cook_time      7979 non-null   object
 11  ingredients    7997 non-null   object
 12  instructions   8009 non-null   object
 13  author         8009 non-null   object
 14  tags           7930 non-null   object
 15  category       8009 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 1001.2+ KB

In [13]:
df.dtypes

recipe_title      object
url               object
record_health     object
vote_count         int64
rating           float64
description       object
cuisine           object
course            object
diet              object
prep_time         object
cook_time         object
ingredients       object
instructions      object
author            object
tags              object
category          object
dtype: object

In [14]:
df.describe()

         vote_count       rating
count   8009.000000  8009.000000
mean    2268.004495     4.888621
std     3683.156570     0.077467
min       15.000000     3.175705
25%      494.000000     4.865031
50%     1050.000000     4.900553
75%     2487.000000     4.930000
max    80628.000000     5.000000

In [15]:
df.describe(include=object) # describe the object column

,recipe_title,url,record_health,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
count,8009,8009,8009,7994,7943,7854,7858,7979,7979,7997,8009,8009,7930,8009
unique,8009,8009,1,7989,77,13,10,89,72,7953,8009,328,7029,99
top,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,"If you like this recipe, try more recipes like",Indian,Lunch,Vegetarian,10 M,30 M,Lemons|Sugar|Salt|Red Chilli powder,To begin making the Roasted Peppers And Mushro...,Archana's Kitchen,Party Food Recipes,Sabzi Recipes
freq,1,1,8009,6,1336,1925,5478,3137,1955,3,1,2803,21,1051

In [16]:
# inspect single column 

df.diet.nunique() # returns number of unique values in column

10

In [17]:
df.diet.unique() # returns the list of unique values in column

array(['Vegetarian', 'High Protein Vegetarian', 'Non Vegeterian',
       'No Onion No Garlic (Sattvic)', 'High Protein Non Vegetarian',
       'Diabetic Friendly', 'Eggetarian', 'Vegan', 'Gluten Free', nan,
       'Sugar Free Diet'], dtype=object)

In [18]:
df.diet.value_counts()  # by default value_count() drop the nan value

Vegetarian                      5478
High Protein Vegetarian          792
Non Vegeterian                   447
Eggetarian                       391
Diabetic Friendly                296
High Protein Non Vegetarian      225
No Onion No Garlic (Sattvic)      77
Vegan                             71
Gluten Free                       66
Sugar Free Diet                   15
Name: diet, dtype: int64

In [19]:
df.diet.value_counts(dropna=False) # here we pass parameter dropna to the false

Vegetarian                      5478
High Protein Vegetarian          792
Non Vegeterian                   447
Eggetarian                       391
Diabetic Friendly                296
High Protein Non Vegetarian      225
NaN                              151
No Onion No Garlic (Sattvic)      77
Vegan                             71
Gluten Free                       66
Sugar Free Diet                   15
Name: diet, dtype: int64

In [20]:
# convert string to numeric 

df['cook_time']= df['cook_time'].str.replace(' M','').fillna(0).astype(int)
df['prep_time']=df['prep_time'].str.replace(' M','').fillna(0).astype(int)

In [21]:
# expand the nested column

df['ingredients'].str.split('|',expand=True).head().dropna(axis=1)

df.head()

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
0,Roasted Peppers And Mushroom Tortilla Pizza Re...,https://www.archanaskitchen.com/roasted-pepper...,good,434,4.958525,is a quicker version pizza to satisfy your cr...,Mexican,Dinner,Vegetarian,15,15,Tortillas|Extra Virgin Olive Oil|Garlic|Mozzar...,To begin making the Roasted Peppers And Mushro...,Divya Shivaraman,Party Food Recipes|Tea Party Recipes|Mushroom ...,Pizza Recipes
1,Thakkali Gotsu Recipe | Thakkali Curry | Spicy...,https://www.archanaskitchen.com/tomato-gotsu-r...,good,3423,4.932223,also known as the is a quick and easy to ma...,South Indian Recipes,Lunch,Vegetarian,10,20,Sesame (Gingelly) Oil|Mustard seeds (Rai/ Kadu...,To begin making Tomato Gotsu Recipe/ Thakkali ...,Archana Doshi,Vegetarian Recipes|Tomato Recipes|South Indian...,Indian Curry Recipes
2,Spicy Grilled Pineapple Salsa Recipe,https://www.archanaskitchen.com/spicy-grilled-...,good,2091,4.945959,Spicy Grilled Pineapple Salsa is a simple reci...,Mexican,Side Dish,Vegetarian,10,0,Extra Virgin Olive Oil|Pineapple|White onion|R...,To begin making the Spicy Grilled Pineapple Sa...,Archana's Kitchen,Party Starter & Appetizer Recipes|Pineapple Re...,Mexican Recipes
3,Karwar Style Dali Thoy Recipe - Toor dal Curry,https://www.archanaskitchen.com/dali-thoy-reci...,good,990,4.888889,The is a quintessential of Konkani dish whic...,Coastal Karnataka,Side Dish,High Protein Vegetarian,5,20,Arhar dal (Split Toor Dal)|Turmeric powder (Ha...,To prepare Karwar Style Dali Thoy Recipe (Toor...,Jyothi Rajesh,Side Dish Recipes|South Indian Recipes|Indian ...,Indian Curry Recipes
4,Rajma Kofta In Milk And Poppy Seed Gravy Recipe,https://www.archanaskitchen.com/rajma-kofta-in...,good,345,4.828986,Koftas are traditional Indian recipes mostly w...,North Indian Recipes,Side Dish,High Protein Vegetarian,20,30,Rajma (Large Kidney Beans)|Cashew nuts|Sultana...,To begin making Rajma Kofta In Milk And Poppy ...,RUBY PATHAK,Side Dish Recipes|Indian Lunch Recipes|Office ...,Kofta Recipes

In [22]:
# find the most common ingredient

df['ingredients'].str.split('|',expand=True).melt()['value'].value_counts()

Salt                       5698
Sunflower Oil              2241
Garlic                     2227
Turmeric powder (Haldi)    2221
Onion                      2012
                           ...
नारीयल पानी                   1
नारीयल का दूध                 1
सिंघाड़े का आटा               1
Black currant (dried)         1
Corn chips                    1
Name: value, Length: 1823, dtype: int64

In [23]:
# melt function

# Create a simple dataframe

# importing pandas as pd
import pandas as pd

# creating a dataframe
df1 = pd.DataFrame({'Name': {0: 'John', 1: 'Bob', 2: 'Shiela'},
				'Course': {0: 'Masters', 1: 'Graduate', 2: 'Graduate'},
				'Age': {0: 27, 1: 23, 2: 21}})
df1

     Name    Course  Age
0    John   Masters   27
1     Bob  Graduate   23
2  Shiela  Graduate   21

In [24]:
pd.melt(df1,id_vars=['Name'],value_vars=['Course'])

     Name variable     value
0    John   Course   Masters
1     Bob   Course  Graduate
2  Shiela   Course  Graduate

In [25]:
pd.melt(df1,id_vars=['Course'],value_vars=['Age'])

     Course variable  value
0   Masters      Age     27
1  Graduate      Age     23
2  Graduate      Age     21

In [26]:
# name of 'variable' and 'value' columns can be customised

pd.melt(df1,id_vars=['Name'],value_vars=['Course'],var_name='ChangedVarName',value_name='ChangedValueName')

     Name ChangedVarName ChangedValueName
0    John         Course          Masters
1     Bob         Course         Graduate
2  Shiela         Course         Graduate

In [27]:
# missing value 

df.isna()

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8004,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8005,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8006,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8007,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8008,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
cols = ['vote_count','rating','prep_time','cook_time']

df[cols].head(18)

    vote_count    rating  prep_time  cook_time
0          434  4.958525         15         15
1         3423  4.932223         10         20
2         2091  4.945959         10          0
3          990  4.888889          5         20
4          345  4.828986         20         30
5         2088  4.903736         10         30
6          506  4.956522         10          0
7          808  4.865099         10         30
8          699  4.931330         10         45
9         2066  4.782188         20         40
10         819  4.959707          5         20
11        2431  4.951049         10         10
12         179  5.000000         20          8
13        1967  4.853076         15         15
14         879  4.869170         10         60
15         448  4.859375         10          0
16        1181  4.856901         15         15
17         782  4.617647         15         45

In [29]:
df.sample(2)

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
6144,Chocolate Chip Scone Recipe,https://www.archanaskitchen.com/chocolate-chip...,good,127,4.874016,The Chocolate Chip Scones recipe comes from my...,Continental,Snack,Eggetarian,15,30,All Purpose Flour (Maida)|Cocoa Powder|Sugar|B...,To begin making the Chocolate Chip Scone Recip...,Riya Gulati,Tea Party Recipes|Chocolate Recipes,Cookie & Biscuit Recipes
1868,Masala Carrot And Peas Sandwich Recipe,https://www.archanaskitchen.com/carrot-and-pea...,good,1542,4.914397,makes a healthy breakfast or snack option for...,Continental,World Breakfast,Vegetarian,20,30,Carrot (Gajjar)|Green peas (Matar)|Garlic|Gree...,To begin making Carrot and Peas Sandwich Recip...,Raksha Kamat,Office Lunch Box Recipes|Carrot Recipes|Breakf...,Sandwich Recipes

In [30]:
df.sample(2)

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
7941,Chocolate Buckwheat Pancake Skewers Recipe,https://www.archanaskitchen.com/chocolate-buck...,good,312,4.951923,Did you know? Buckwheat protein is considered ...,Continental,World Breakfast,Vegetarian,10,30,Buckwheat Flour (Kuttu Ka Atta)|Baking powder|...,To begin making the Chocolate Buckwheat Pancak...,Gauravi Vinay,Breakfast Recipe Ideas|Pancake Recipes|Buckwhe...,Pancake Recipes
2495,Anar Pabda Recipe - Bengali Fish Curry In Pome...,https://www.archanaskitchen.com/anar-pabda-ben...,good,298,4.939597,is a Bengali-Coastal recipe which is made wit...,Bengali Recipes,Lunch,High Protein Non Vegetarian,10,35,Pabda fish|Pomegranate juice|Coconut milk|Must...,To begin making the Anar Pabda Recipe (Bengali...,Uma Pandit,Party Food Recipes|Side Dish Recipes|Indian Lu...,Fish Recipes

In [31]:
df.duplicated(keep='last') # find all the duplicates and keep only last one

0       False
1       False
2       False
3       False
4       False
        ...
8004    False
8005    False
8006    False
8007    False
8008    False
Length: 8009, dtype: bool

In [32]:
# select and order top n entries for column 

df.nlargest(2,'vote_count')

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
7928,Vegetarian Thai Green Curry Recipe,https://www.archanaskitchen.com/video-recipe-v...,good,80628,4.942849,The Vegetarian Thai Green Curry is close to au...,Thai,Main Course,Vegetarian,15,40,Lemongrass|Green Chillies|Coriander (Dhania) L...,To begin making the Vegetarian Thai Green Curr...,Archana Doshi,Party Food Recipes|Broccoli Recipes|Zucchini R...,"Thai Recipes,Malaysian & East Asian Recipes"
250,Andhra Pepper Chicken Recipe - Dry Restaurant ...,https://www.archanaskitchen.com/andhra-pepper-...,good,77822,4.916039,is a delicious chicken recipe famous across m...,Andhra,Main Course,Non Vegeterian,20,20,Chicken|Garlic|Ginger|Lemon|Turmeric powder (H...,"To begin making Andhra Pepper Chicken Recipe, ...",Archana Doshi,Side Dish Recipes|South Indian Recipes|Indian ...,Chicken Recipes

In [33]:
# select and order bottom n entries 

df.nsmallest(2,'vote_count')

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
90,Chilli Oil Recipe,https://www.archanaskitchen.com/chilli-oil-recipe,good,15,5.0,"This Chilli oil, is such an excellent condimen...",Asian,Side Dish,Vegetarian,10,15,Red Chilli flakes|Brown Sugar (Demerara Sugar)...,"To begin making the Chilli oil, firstly prep a...",Archana's Kitchen,Vegetarian Recipes|Asian Cuisine Recipes|Asian...,"Thai Recipes,Malaysian & East Asian Recipes"
91,Bathua Raita Recipe,https://www.archanaskitchen.com/bathua-raita-r...,good,16,5.0,Bathua Raita Recipe is a raita made out of a g...,North Indian Recipes,Side Dish,Diabetic Friendly,10,5,Bathua leaves|Green Chillies|Ginger|Black Salt...,"To begin making the Bathua Raita Recipe, first...",Archana's Kitchen,Vegetarian Recipes|Side Dish Recipes|Dahi Reci...,Indian Raita Recipes

In [34]:
df['author'] # select single column as series

0         Divya Shivaraman
1             Archana Doshi
2         Archana's Kitchen
3             Jyothi Rajesh
4               RUBY PATHAK
               ...
8004           Aarti Sharma
8005    Farrukh Aziz Ansari
8006      Archana's Kitchen
8007      Archana's Kitchen
8008          Archana Doshi
Name: author, Length: 8009, dtype: object

In [35]:
df[['author','record_health']] # select multiple columns

                   author record_health
0       Divya Shivaraman           good
1           Archana Doshi          good
2       Archana's Kitchen          good
3           Jyothi Rajesh          good
4             RUBY PATHAK          good
...                   ...           ...
8004         Aarti Sharma          good
8005  Farrukh Aziz Ansari          good
8006    Archana's Kitchen          good
8007    Archana's Kitchen          good
8008        Archana Doshi          good

[8009 rows x 2 columns]

In [36]:
# view groups
from pprint import pprint
res= df.groupby('author').groups
pprint(res)

{'AROSHALINY GODFREY': Int64Index([6528], dtype='int64'),
 'Aarti Sharma': Int64Index([  22,  238, 1085, 1735, 2177, 2336, 2622, 3049, 3603, 3616, 3778,
            4040, 4872, 4888, 5350, 5351, 5524, 5538, 5623, 5627, 5644, 5710,
            6054, 6192, 6272, 6297, 6425, 6433, 6438, 6636, 6925, 7133, 7329,
            7424, 7428, 7666, 7925, 8004],
           dtype='int64'),
 'Abhinetri': Int64Index([5690], dtype='int64'),
 'Adisha': Int64Index([3007, 3046, 3279, 3648, 3830, 5468], dtype='int64'),
 'Aditi Bahl': Int64Index([537, 940, 3001, 3588, 4257, 6943], dtype='int64'),
 'Adity mithani': Int64Index([4551], dtype='int64'),
 'Afroz Shaikh ': Int64Index([826], dtype='int64'),
 'Aish': Int64Index([1058, 1811, 2266, 4885, 5908, 6257, 7144], dtype='int64'),
 'Aishwarya Pradeep': Int64Index([310, 2722, 2727, 7671, 7672, 7798], dtype='int64'),
 'Akanksha Saxena': Int64Index([2448, 5029], dtype='int64'),
 'Akansha Bansal': Int64Index([779, 957, 1142, 3425, 3609, 5648, 5746, 6148, 6163, 6876], dtype='int64'),
 'Akila': Int64Index([4702], dtype='int64'),
 'Akila Subramanian': Int64Index([386, 1072, 2449, 3520, 4876, 4977, 5550, 5684, 5732, 5854, 6389,
            7448],
           dtype='int64'),
 'Akshara Hegde': Int64Index([1959], dtype='int64'),
 'Akshay Nair P R': Int64Index([7936], dtype='int64'),
 'Alamelu Manickam ': Int64Index([1740, 6080], dtype='int64'),
 'Alka Jena': Int64Index([ 333,  486,  558, 1750, 2456, 2928, 3309, 3326, 4120, 4189, 4191,
            4732, 4743, 4819, 4884, 5115, 5794, 6062, 6292, 6779, 7127, 7729],
           dtype='int64'),
 'Ambica Selvam': Int64Index([103, 4506], dtype='int64'),
 'Amina K': Int64Index([1882, 1889, 2520, 2541, 2859, 5258, 6815, 6821, 6894, 6902, 7770], dtype='int64'),
 'Amrita Iyer': Int64Index([861, 5388, 6416], dtype='int64'),
 'Amrita Roy': Int64Index([2229, 3824, 4137, 4760, 7042], dtype='int64'),
 'Anitha Balaji': Int64Index([217, 1039, 2920, 3894, 4859, 5046, 5164], dtype='int64'),
 'Anitha Kirubakaran': Int64Index([358, 513, 1686, 2081, 3189, 3373, 4317, 5196, 5395, 5556], dtype='int64'),
 'Anjana Chaturvedi': Int64Index([2977, 4809, 7041], dtype='int64'),
 'Anju Bhagnari': Int64Index([2180, 3918], dtype='int64'),
 'Ankita Sheelvant': Int64Index([938, 2065, 2159, 2196, 3219], dtype='int64'),
 'Ankita gupta': Int64Index([4616], dtype='int64'),
 'Annapoorni Padmanabhan ': Int64Index([320], dtype='int64'),
 'Anshu Pande': Int64Index([  20,  911, 1639, 1717, 1986, 2063, 2688, 2986, 3720, 3907, 4031,
            4352, 4412, 5365, 6304, 6422, 7116, 7194, 7252, 7640],
           dtype='int64'),
 'Antara Navin': Int64Index([187, 1027, 1067, 1752, 2812, 2962, 5459, 6220], dtype='int64'),
 'Antonet Roajer': Int64Index([3895], dtype='int64'),
 'Anubalas Kitchen': Int64Index([3832, 6836], dtype='int64'),
 'Anupama Dalmia': Int64Index([5779, 6030, 6961], dtype='int64'),
 'Anupama Nagaraja': Int64Index([2304, 2942, 4142, 5419, 5736, 5931, 6268, 6277], dtype='int64'),
 'Anupama Nair': Int64Index([4552], dtype='int64'),
 'Anusha': Int64Index([4044, 4974, 4975, 6560, 7883], dtype='int64'),
 'Anusha Mallajosyula': Int64Index([ 229,  231,  356, 2147, 2203, 2556, 2715, 2729, 2752, 3852, 4665,
            4696, 4729, 6559, 6643, 6681, 6765, 7930, 7939, 7984],
           dtype='int64'),
 'Anusha Tawakley': Int64Index([715], dtype='int64'),
 'Aparna Dubey': Int64Index([4792], dtype='int64'),
 'Aparna Jha': Int64Index([7398], dtype='int64'),
 'Aparna Parinam': Int64Index([201, 2041, 3314, 3743, 3896, 4914, 5254, 5879, 7264], dtype='int64'),
 'Aparna Patil': Int64Index([3593], dtype='int64'),
 'Apoorva Joshi': Int64Index([1716], dtype='int64'),
 'Archana': Int64Index([7403], dtype='int64'),
 'Archana Doshi': Int64Index([   1,    8,    9,   23,   26,   33,   47,   51,   52,   53,
            ...
            7963, 7966, 7979, 7981, 7983, 7985, 7987, 7991, 7992, 8008],
           dtype='int64', length=1293),
 'Archana Natarajan': Int64Index([3905], dtype='int64'),
 "Archana's Kitchen": Int64Index([   2,    5,    6,    7,   10,   11,   13,   15,   18,   19,
            ...
            7977, 7978, 7982, 7986, 7989, 7999, 8002, 8003, 8006, 8007],
           dtype='int64', length=2803),
 'Arti Gupta': Int64Index([1621, 2020, 2265, 2478, 2511, 3308, 3469, 6097, 6129], dtype='int64'),
 'Aruna Manikandan ': Int64Index([3822, 4839], dtype='int64'),
 'Arunima Das': Int64Index([1029, 1086, 4190, 5858, 6258], dtype='int64'),
 'Asha Shiv ': Int64Index([6449, 7951], dtype='int64'),
 'Asha Venugopal ': Int64Index([430, 926, 2361, 5881, 6400, 6967], dtype='int64'),
 'Ashlesha Katoch ': Int64Index([2866, 3819], dtype='int64'),
 'Asiya Subhani': Int64Index([5774], dtype='int64'),
 'Asmita Bharadwaj Das': Int64Index([4113], dtype='int64'),
 'Avin Kohli': Int64Index([635, 663, 4795, 5424], dtype='int64'),
 'Ayeesha Riaz': Int64Index([1028, 6647, 7300], dtype='int64'),
 'Babitha Costa': Int64Index([3759, 5954, 6703, 7110], dtype='int64'),
 'Baisali Mukherjee': Int64Index([4785], dtype='int64'),
 'Bakelicious': Int64Index([5040, 5793, 7177], dtype='int64'),
 'Bela Dholakia': Int64Index([648, 2029, 2501, 3130, 3276, 3883, 5342, 6107, 6337, 6383], dtype='int64'),
 'Bhavita': Int64Index([240, 342, 925, 1179, 5407, 5587, 5604, 5925, 6009, 6112, 6223,
            6406, 6460],
           dtype='int64'),
 'Chandrima Sarkar': Int64Index([2922, 3758, 3991, 6295, 7106], dtype='int64'),
 'Charmi': Int64Index([4593, 7243], dtype='int64'),
 'Chef Vikas Khanna': Int64Index([139, 5847], dtype='int64'),
 'Chitra Visveswaran': Int64Index([760, 918], dtype='int64'),
 'Chitrangada Kundu': Int64Index([63, 2582, 6789], dtype='int64'),
 'Darshana Shah': Int64Index([6273], dtype='int64'),
 'Deboshruti': Int64Index([2378, 2452, 2952, 3157, 3581, 3898, 4420, 5505, 5655, 5783, 6238,
            6290, 6960, 7389, 7862],
           dtype='int64'),
 'Deepikaa Sankar': Int64Index([3562], dtype='int64'),
 'Devaki  Sonawala': Int64Index([3617, 4057, 5337, 7270, 7988], dtype='int64'),
 'Dhara Shah ': Int64Index([ 177,  858,  903,  933, 1033, 2252, 3077, 3135, 3348, 4533, 4589,
            4731, 4879, 5037, 5335, 5561, 5785, 6165, 6269, 6461, 6705, 7338,
            7479, 7684, 7717, 7792],
           dtype='int64'),
 'Dhara joshi': Int64Index([1082, 1822, 1872, 1874, 2954, 3111, 3112, 3172, 3639, 4149, 4155,
            4221, 4669, 4788, 4865, 4868, 4895, 4908, 4909, 4912, 4917, 4923,
            4927, 4928, 4930, 4932, 4934, 4962, 4982, 4996, 4997, 4998, 5003,
            5031, 6542, 6568, 6593, 6617, 6630, 6787, 7269, 7366, 7449],
           dtype='int64'),
 'Divya': Int64Index([977, 2420, 4629, 6153], dtype='int64'),
 'Divya Rajagiri': Int64Index([4907, 6000], dtype='int64'),
 'Divya Shivaraman ': Int64Index([   0,  154,  285,  633,  721,  767,  809,  849, 1186, 1755, 1782,
            1794, 1998, 2210, 2236, 2262, 2300, 2362, 2441, 2614, 2638, 2781,
            2803, 2973, 3351, 3451, 3466, 3774, 3808, 3950, 3953, 4140, 4204,
            4206, 4253, 4409, 4411, 4441, 4765, 4775, 4818, 4900, 4905, 5302,
            5303, 5309, 5369, 5370, 5372, 5382, 5383, 5404, 5494, 5509, 5511,
            5533, 5546, 5730, 5836, 5841, 6006, 6116, 6276, 6341, 6355, 6410,
            6420, 6442, 6751, 6995, 7057, 7404, 7478, 7763, 7793, 7901],
           dtype='int64'),
 'Donna George': Int64Index([ 967, 1035, 1494, 1842, 2492, 2560, 3214, 3228, 3421, 3533, 3653,
            4748, 4779, 5545, 5609, 5862, 5900, 5927, 5971, 6098, 6099, 6222,
            6230, 6232, 6249, 7837, 7867, 7874],
           dtype='int64'),
 'Dr Pallavi Shetty': Int64Index([4153], dtype='int64'),
 'Drashti Dholakia': Int64Index([1946, 3182, 4893], dtype='int64'),
 'Durgesh Nandini': Int64Index([1971], dtype='int64'),
 'Famidha Ashraf': Int64Index([2529], dtype='int64'),
 'Fareeha': Int64Index([3932, 7142], dtype='int64'),
 'Farrukh Aziz Ansari': Int64Index([ 200,  205,  267,  279, 1545, 1596, 1684, 2034, 2233, 2631, 2881,
            2921, 3155, 3267, 3298, 3525, 3977, 4109, 4373, 4452, 4754, 4814,
            4820, 4841, 5814, 5828, 5835, 5894, 5911, 5947, 6026, 6137, 6141,
            6245, 7037, 7094, 7115, 7168, 7175, 7399, 7406, 7409, 7414, 7416,
            7628, 7683, 7744, 7908, 8000, 8005],
           dtype='int64'),
 'Farzana Malik': Int64Index([7100], dtype='int64'),
 'Fayiza': Int64Index([5902], dtype='int64'),
 'Femina Shiraz': Int64Index([3121, 3900, 5431], dtype='int64'),
 'Florence Siegenthaler': Int64Index([5189], dtype='int64'),
 'Foodyism_06': Int64Index([2911, 3825], dtype='int64'),
 'GAGANDEEP KAUR': Int64Index([6048, 6939], dtype='int64'),
 'GAYATHIRI MADHESWARAN': Int64Index([2937], dtype='int64'),
 'Garima Gautam': Int64Index([  72,  271,  308,  350,  470,  601,  624,  727,  738, 1022, 1068,
            1097, 1706, 1753, 2140, 2152, 2171, 2345, 2496, 2524, 2605, 2620,
            2674, 2721, 2833, 2941, 3336, 3349, 3362, 3427, 3437, 3567, 3577,
            3694, 3731, 3749, 3760, 3959, 3987, 4004, 4052, 4180, 4288, 4348,
            4361, 4482, 4522, 4534, 4630, 4697, 4978, 4979, 5081, 5135, 5150,
            5201, 5332, 5340, 6464, 6510, 6565, 6573, 6580, 6675, 6718, 6746,
            6748, 6802, 6899, 7181, 7238, 7297, 7899, 7911, 7996],
           dtype='int64'),
 'Gauravi Vinay': Int64Index([ 189,  262,  454,  462,  507,  549,  703,  749,  956, 1041,
            ...
            7009, 7292, 7418, 7477, 7629, 7699, 7844, 7861, 7937, 7941],
           dtype='int64', length=104),
 'Gayathri Ramanan': Int64Index([3231, 5354], dtype='int64'),
 'Gayathri Srivatsan': Int64Index([4213], dtype='int64'),
 'Gayatri Singh': Int64Index([825, 2821, 7240], dtype='int64'),
 'HealthifyMe': Int64Index([1043, 6036, 7010], dtype='int64'),
 'Hina Gujral': Int64Index([ 161,  325,  349,  463,  525,  673, 1208, 1245, 1553, 1761, 1805,
            2090, 2513, 2778, 2966, 3247, 3431, 3490, 3532, 3776, 4391, 4772,
            4904, 5191, 5214, 5239, 5279, 5295, 5425, 5493, 5580, 5796, 5843,
            6132, 6474, 6579, 6719, 6722, 7026, 7077, 7467, 7473, 7926],
           dtype='int64'),
 'Indu Mathew': Int64Index([1895], dtype='int64'),
 'Ishita Asher': Int64Index([557, 1963, 7021], dtype='int64'),
 'Iti Archana': Int64Index([839], dtype='int64'),
 'Jamuna Devi': Int64Index([3403], dtype='int64'),
 'Janani ': Int64Index([3194, 3651], dtype='int64'),
 'Jandeep Kaur': Int64Index([4623], dtype='int64'),
 'Jeny John': Int64Index([856, 5934, 6265], dtype='int64'),
 'Jolly Makkar': Int64Index([5517], dtype='int64'),
 'Joshie Sharmila': Int64Index([ 503,  523, 1219, 2204, 2357, 3728, 4446, 4835, 5154, 5156, 5326,
            5503, 5606, 5645, 5702, 7024],
           dtype='int64'),
 'Julie Xavier': Int64Index([3129], dtype='int64'),
 'Jyothi Rajesh': Int64Index([   3,   85,  126,  156,  171,  178,  227,  228,  239,  252,
            ...
            7753, 7773, 7775, 7785, 7843, 7892, 7905, 7946, 7955, 7972],
           dtype='int64', length=200),
 'Kalpana Sareesh ': Int64Index([3800, 7198, 7885], dtype='int64'),
 'Kalyani Srinath': Int64Index([ 625, 1769, 2961, 3752, 3842, 4355, 5409, 5478, 5553, 5634, 5765,
            5784, 5928, 6126, 6127, 6412, 7957],
           dtype='int64'),
 'Kamna sharma': Int64Index([7356], dtype='int64'),
 'Karishma': Int64Index([1098], dtype='int64'),
 'Karthika Gopalakrishnan': Int64Index([ 235,  286,  329,  341,  385,  581,  605,  790,  837,  843,
            ...
            7442, 7660, 7692, 7709, 7791, 7895, 7949, 7962, 7974, 7990],
           dtype='int64', length=120),
 'Karuna Kumar': Int64Index([3526], dtype='int64'),
 'Kashish malani ': Int64Index([628], dtype='int64'),
 'Kavitha Prashanth': Int64Index([4102], dtype='int64'),
 'Kriti': Int64Index([857, 909, 1118, 2319, 2756, 3146, 5317, 6002, 6441], dtype='int64'),
 'Kriti Singhal': Int64Index([1099, 1269, 5218, 6712, 7427, 7462], dtype='int64'),
 'Kritika deoras': Int64Index([6357], dtype='int64'),
 'Lavanya Krishna': Int64Index([3301, 6087, 6521], dtype='int64'),
 'Lisha Aravind ': Int64Index([4112, 4123, 4314, 4861, 7659], dtype='int64'),
 'Lubna Karim': Int64Index([  21,  885, 1682, 1978, 2566, 2788, 2947, 3268, 3493, 4006, 4311,
            4937, 4968, 5838, 6418, 6610, 6839, 6945, 7369, 7686, 7958],
           dtype='int64'),
 'Madhu  Parwani ': Int64Index([1642, 2652, 5458, 5761], dtype='int64'),
 'Madhuli Ajay': Int64Index([  14,   32,   46,  148,  209,  305,  332,  382,  388,  405,
            ...
            7626, 7632, 7641, 7688, 7801, 7842, 7869, 7890, 7961, 7965],
           dtype='int64', length=185),
 'Madhuri Aggarwal': Int64Index([ 106,  129,  147,  319,  498,  563,  610,  674,  876,  878,  880,
             882, 1059, 1090, 1131, 1575, 1607, 1734, 1778, 1881, 1914, 2054,
            2057, 2512, 2539, 2581, 2644, 2677, 2697, 2698, 2775, 2903, 2914,
            2995, 3160, 3262, 3263, 3265, 3363, 3371, 3442, 3492, 3659, 3677,
            4220, 4229, 4292, 4350, 4745, 4756, 4811, 4813, 5429, 5566, 5618,
            5619, 5700, 5748, 5758, 5760, 5771, 5825, 5846, 5848, 5866, 5885,
            5962, 6077, 6170, 6217, 6293, 6411, 6601, 6871, 6923, 6927, 7085,
            7387, 7419, 7823],
           dtype='int64'),
 'Mallika Chaudhary': Int64Index([7631], dtype='int64'),
 'Manasa': Int64Index([3181, 6051], dtype='int64'),
 'Manisha Goyal': Int64Index([3166, 7311, 7364], dtype='int64'),
 'Manjula Bharath': Int64Index([1550, 2292, 3062, 4356, 5896, 6228, 6672], dtype='int64'),
 'Maria George': Int64Index([6755], dtype='int64'),
 'Maumita Paul': Int64Index([ 439, 1121, 1255, 2069, 2169, 2990, 3312, 4173, 4437, 4513, 4944,
            5245, 7008, 7087],
           dtype='int64'),
 'Meenakshi Kapur': Int64Index([3725], dtype='int64'),
 'Meera Panchal Bhattacharya': Int64Index([6072, 6817], dtype='int64'),
 'Megha Joshi': Int64Index([474, 2017, 2982, 3445, 3763, 4011, 4961, 6084], dtype='int64'),
 'Monica Deshpande': Int64Index([932, 1517, 2649, 3347, 4047, 4769, 4778, 5140, 5434, 5456, 5759,
            6146, 6177],
           dtype='int64'),
 'Monika Manchanda': Int64Index([  49,  202,  254,  390,  445,  535,  547,  665,  927, 1193, 1314,
            1549, 1666, 1751, 1802, 2299, 2313, 2324, 2505, 2606, 2686, 2757,
            2840, 2887, 2939, 3071, 3145, 3291, 3429, 3450, 4150, 4316, 4416,
            4418, 4530, 4863, 4871, 5019, 5378, 5491, 5492, 5508, 5590, 5790,
            5791, 5834, 5852, 5859, 6004, 6035, 6117, 6274, 6439, 6454, 6498,
            6505, 6506, 6507, 6733, 6761, 6847, 6860, 7092, 7470, 7650, 7656,
            7720, 7742, 7778, 7872],
           dtype='int64'),
 'Monisha': Int64Index([2725, 6801, 7980], dtype='int64'),
 'Moumita Ghosh': Int64Index([6920], dtype='int64'),
 'Moumita Malla': Int64Index([1551, 2179, 2522, 2847, 3733, 4030, 4038, 4559, 6530, 6570, 6649,
            6677, 6814, 6861],
           dtype='int64'),
 'NADIRA': Int64Index([2440, 3200], dtype='int64'),
 'Namrata Ghate': Int64Index([3243, 5203, 7809], dtype='int64'),
 'Nandita Gupta': Int64Index([260, 599, 3115, 4862, 6415, 6419, 7152], dtype='int64'),
 'Naseera': Int64Index([730, 2960], dtype='int64'),
 'Navneet Kaur': Int64Index([922, 3714, 3934, 4059, 4097, 4129, 4139, 4147, 4175, 4187, 6824], dtype='int64'),
 'Navneetha': Int64Index([1124, 1334, 1629, 4650, 5307, 5472, 7679], dtype='int64'),
 'Neeru Srikanth': Int64Index([ 145,  725,  954,  973, 1007, 1170, 1653, 1856, 1857, 1982, 1995,
            2206, 2653, 3101, 3161, 3184, 3199, 3286, 3456, 3496, 3500, 3608,
            3647, 3658, 3717, 3789, 3799, 3892, 3920, 4622, 4705, 4768, 4965,
            4966, 5092, 5415, 5446, 5449, 5568, 5569, 5582, 5646, 5647, 5652,
            5653, 5880, 6064, 6113, 6122, 6158, 6239, 6307, 6376, 6377, 6408,
            6430, 6603, 6621, 6767, 6793, 6926, 7071, 7636, 7646, 7794, 7998],
           dtype='int64'),
 'Neetha @bnpassion': Int64Index([3085, 3340], dtype='int64'),
 'Neha Kaushal': Int64Index([4119, 4791, 6085], dtype='int64'),
 'Neha Mathur': Int64Index([2016, 2343, 2676, 2767, 3068, 3241, 3802, 3843, 3872, 3877, 4873,
            4929, 5233, 5247, 5498, 5616, 6256, 7124, 7164],
           dtype='int64'),
 'Neha paliwal': Int64Index([1876, 2267, 2671, 5989, 7044], dtype='int64'),
 'Nimmy Raghu': Int64Index([5286], dtype='int64'),
 'Nithya Anantham': Int64Index([  28,   66,  118,  174,  188,  192,  193,  219,  236,  237,
            ...
            7707, 7805, 7816, 7833, 7878, 7887, 7915, 7927, 7973, 8001],
           dtype='int64', length=286),
 'Nithya Govindarajan': Int64Index([6159], dtype='int64'),
 'Nupur Mehra': Int64Index([629, 1762, 2938, 3726, 6118, 7483], dtype='int64'),
 'Nusrath Jahan': Int64Index([ 743, 1932, 1942, 3183, 3426, 3780, 5400, 5747, 5800, 6095, 6190,
            6632, 6794, 6873, 6934, 7380, 7578],
           dtype='int64'),
 'Padma Veeranki': Int64Index([435, 472, 1687, 1958, 1985, 2659, 4837, 4953, 5763, 6326, 6974,
            7454, 7819],
           dtype='int64'),
 'Paluk Khanna': Int64Index([2617, 3904], dtype='int64'),
 'Paramita Majumder': Int64Index([1096, 4971, 6527], dtype='int64'),
 'Parthavi Pandya': Int64Index([7755], dtype='int64'),
 'Pavithra M Adiga': Int64Index([976, 2476, 3618, 3756, 3910, 3912, 4009, 4730, 6771, 6811, 7121], dtype='int64'),
 'Pooja Kamlesh Agrawal': Int64Index([1091, 2561, 4844], dtype='int64'),
 'Pooja Misra': Int64Index([2037, 7254], dtype='int64'),
 'Pooja Nadkarni': Int64Index([  12,   81,  160,  175,  293,  600,  632,  649,  791, 1812, 1975,
            2309, 2321, 2473, 2490, 2651, 2997, 3008, 3013, 3393, 3555, 3586,
            3592, 3614, 3637, 3693, 3695, 3696, 3703, 3788, 3792, 3947, 4034,
            4181, 4388, 4463, 4468, 4469, 4474, 4476, 4484, 4489, 4562, 4716,
            4737, 4889, 5084, 5110, 5117, 5139, 5143, 5266, 5366, 5393, 5418,
            5626, 5660, 5745, 5821, 5948, 6683, 6720, 6734, 6750, 6757, 7193,
            7202, 7676, 7877],
           dtype='int64'),
 'Pooja Pandit ': Int64Index([  30,  159, 1040, 1049, 2109, 2118, 2238, 2331, 2691, 2743, 3845,
            3869, 4068, 4740, 4747, 4901, 6917, 6944, 6957, 6968, 7994],
           dtype='int64'),
 'Pooja Shinde': Int64Index([5949], dtype='int64'),
 'Pooja Thakur': Int64Index([  17,   75,  128,  141,  204,  225,  288,  312,  770,  787,
            ...
            7681, 7682, 7714, 7813, 7865, 7868, 7881, 7888, 7900, 7993],
           dtype='int64', length=193),
 'Poonam Bachhav': Int64Index([4625, 4877, 5319, 5571, 6331, 6592, 6855, 6905, 7158], dtype='int64'),
 'Poulomi Ghosh': Int64Index([3197], dtype='int64'),
 'Prachi Shukla Tripathi': Int64Index([6682], dtype='int64'),
 'Praerna Kartha': Int64Index([912, 3126, 3359, 5496, 5615, 5738, 5982, 6115, 6194, 6270, 7167,
            7253],
           dtype='int64'),
 'Praneetha A Goutham': Int64Index([3881], dtype='int64'),
 'Preethi Prasad': Int64Index([2627, 2679, 4219, 5018, 7221], dtype='int64'),
 'Preeti Lal': Int64Index([5283], dtype='int64'),
 'Preeti Tamilarasan': Int64Index([ 627,  706, 1136, 1789, 1793, 1807, 2481, 2626, 2714, 3098, 3636,
            3858, 4053, 4096, 4116, 4268, 4407, 4810, 4896, 5480, 5572, 5797,
            5851, 6088, 6091, 6227, 6281, 6285, 6641, 7076, 7126, 7314, 7472],
           dtype='int64'),
 'Priti Mohta': Int64Index([3986, 6456], dtype='int64'),
 'Priya': Int64Index([4758], dtype='int64'),
 'Priya  Suresh': Int64Index([ 153, 2189, 2975, 3459, 4184, 4761, 4817, 5116, 5593, 5744, 6050,
            6110, 6114, 6494, 6590, 6594, 6724],
           dtype='int64'),
 'Priya Chandrasekaran': Int64Index([1538, 1799, 2849], dtype='int64'),
 'Priya Srinivasan': Int64Index([3698, 5364, 5367, 5443, 5597, 6182, 6714], dtype='int64'),
 'Priyadarshini Chatterjee': Int64Index([1135, 5106, 5762, 6577], dtype='int64'),
 'Priyanjali Joardar': Int64Index([614, 2305, 3911, 3980, 4464, 5190, 5221, 5256, 5787, 6479, 6692,
            6963, 7120],
           dtype='int64'),
 'Priyanka Tripathi': Int64Index([5707], dtype='int64'),
 'Priyanshu Agarwal': Int64Index([2822, 3917, 5313], dtype='int64'),
 'Puja Darshan': Int64Index([1933], dtype='int64'),

In [37]:
# get group

res= df.groupby('author').get_group('Adisha')

pprint(res)

                                           recipe_title  \
3007  Anar & Aloo Pakora Recipe - Dry Pomegranate & ...
3046         Bread, Paneer & Potato Instant Vada Recipe
3279  अनार आलू पकोरा रेसिपी - Anar & Aloo Pakora Recipe
3648                    Badam And Khus Khus Milk Recipe
3830  ब्रेड, पनीर और आलू वड़ा रेसिपी - Bread, Paneer ...
5468                              Mirchi Ka Kuta Recipe

                                                    url record_health  \
3007  https://www.archanaskitchen.com/anar-aloo-koft...          good
3046  https://www.archanaskitchen.com/bread-paneer-p...          good
3279  https://www.archanaskitchen.com/anar-aloo-pako...          good
3648  https://www.archanaskitchen.com/badam-and-khus...          good
3830  https://www.archanaskitchen.com/bread-paneer-p...          good
5468  https://www.archanaskitchen.com/mirchi-ka-kuta...          good

      vote_count    rating                                        description  \
3007         645  4.939535   is traditionally pakora popular in North and ...
3046         324  4.722222   is a flavourful twist to the regular vada rec...
3279         377  4.973475  एक पारम्परिक रेसिपी है जिसे दक्षिण भारत में ज्...
3648        5068  4.884570   is a delicious Indian drink recipe which is a...
3830         303  4.871287   स्वादिष्ट और फ्लेवर से भरपूर वडा है जिसमे आलू...
5468         432  4.828704  Mirchi ka Kuta recipe is a common household di...

                   cuisine     course        diet  prep_time  cook_time  \
3007  North Indian Recipes      Snack  Vegetarian         30         15
3046  South Indian Recipes      Snack  Vegetarian         15         15
3279  North Indian Recipes      Snack  Vegetarian         30         15
3648                Indian      Snack  Vegetarian         10         20
3830  South Indian Recipes      Snack  Vegetarian         15         15
5468            Rajasthani  Side Dish  Vegetarian         10         15

                                            ingredients  \
3007  Potatoes (Aloo)|Green Chillies|Coriander (Dhan...
3046  Rice flour|Sooji (Semolina/ Rava)|Potato (Aloo...
3279  आलू|हरी मिर्च|हरा धनिया|अनारदाना|लाल मिर्च पाउ...
3648  Badam (Almond)|Poppy seeds|Milk|Sugar|Pistachi...
3830  ब्रेड|दही|चावल का आटा|सूजी|पनीर|आलू|जीरा|प्याज...
5468  Green Chillies|Mustard seeds|Fennel seeds (Sau...

                                           instructions  author  \
3007  To begin making Anar & Aloo Pakora Recipe, mas...  Adisha
3046  To begin making the Bread, Paneer & Potato Ins...  Adisha
3279  अनार आलू पकोरा रेसिपी बनाने के लिए सबसे पहले आ...  Adisha
3648  To begin making Badam And Khus Khus Milk Recip...  Adisha
3830  ब्रेड, पनीर और आलू वड़ा बनाने के लिए सबसे पहले ...  Adisha
5468  To begin making Mirchi Ka Kuta Recipe, In a pe...  Adisha

                                                   tags  \
3007  Indian Lunch Recipes|Aloo Recipes (Potato & Ba...
3046  Aloo Recipes (Potato & Baby Potato Recipes)|Va...
3279  Indian Lunch Recipes|Aloo Recipes (Potato & Ba...
3648  Festival Recipes|Party Drink Recipes|Almond Re...
3830  Paneer Recipes|Aloo Recipes (Potato & Baby Pot...
5468                               Quick & Easy Recipes

                            category
3007            Indian Snack Recipes
3046            Indian Snack Recipes
3279            Indian Snack Recipes
3648            Indian Drink Recipes
3830            Indian Snack Recipes
5468  Indian Pickles & Achar Recipes

In [40]:
# get count per group

df.groupby('author').count()

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,tags,category
author,,,,,,,,,,,,,,,
AROSHALINY GODFREY,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Aarti Sharma,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
Abhinetri,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
Adisha,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Aditi Bahl,6,6,6,6,6,6,6,5,6,6,6,6,6,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
swapnil dnyaneshwar zodge,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
swati pathak,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
vidhya,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
vinitha vijayam,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
yasmeen zuveriya,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [41]:
df.size # returns rows(x)columns

128144

In [42]:
df.shape # returns rows and columns in the form of tuple

(8009, 16)

In [43]:
df.ndim # returns the dimensional for the data if (series returns 1 otherwise 2)

2

In [44]:
data = {
    "name":["Rahul"],
    "age":[12]
    }
df1 = pd.Series(data)

df1

name    [Rahul]
age        [12]
dtype: object

In [46]:
df1.ndim # here returns 1

1

In [48]:
df.isnull().sum() # returns total number of missing values

recipe_title       0
url                0
record_health      0
vote_count         0
rating             0
description       15
cuisine           66
course           155
diet             151
prep_time          0
cook_time          0
ingredients       12
instructions       0
author             0
tags              79
category           0
dtype: int64

In [49]:
df.memory_usage() # returns the memory usage of each columns

Index              128
recipe_title     64072
url              64072
record_health    64072
vote_count       64072
rating           64072
description      64072
cuisine          64072
course           64072
diet             64072
prep_time        64072
cook_time        64072
ingredients      64072
instructions     64072
author           64072
tags             64072
category         64072
dtype: int64

In [50]:
df.corr() # returns correlation

<ipython-input-50-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            vote_count    rating  prep_time  cook_time
vote_count    1.000000 -0.009289   0.014372   0.000114
rating       -0.009289  1.000000  -0.019837   0.004056
prep_time     0.014372 -0.019837   1.000000   0.006249
cook_time     0.000114  0.004056   0.006249   1.000000